.ptest-container{
	width:100%;
	height:100%
}

.ptest-display-left{
	width:50%;
	float: left;
	border: 1px solid red;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-align: center;
}

.ptest-display-right{
	width:50%;
	float: right;
	border: 1px solid black;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.ptest-stacking-container{
	position: relative;
}

.ptest-display-hover{
	position: absolute;
	top: 5%;
	left: 9%;
	background: rgb(230, 230, 230);
	border: 1px solid rgb(0, 116, 162);
	border-radius: 5px;
	z-index: 1000;
}

.ptest-edit-hover{
	position: fixed;
	top: 30%;
	left: 15%;
	width: 80%;
	background: rgb(230, 230, 230);
	border: 1px solid rgb(0, 116, 162);
	border-radius: 5px;
	z-index: 1000;
	text-align: center;
}

.ptest-question-hover{
	overflow-y: scroll;
	max-height: 80%;
	position: fixed;
	top: 10%;
	left: 15%;
	width: 80%;
	background: rgb(230, 230, 230);
	border: 1px solid rgb(0, 116, 162);
	border-radius: 5px;
	z-index: 1000;
	text-align: center;
}

.ptest-display-hidden-hover-closer{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 0;
	opacity: .5;
	background: black;
}

.ptest-display-top{
	width:100%;
	position:relative;
}

.ptest-quiz-table{
	border: 1px solid black;
	width: 100%;
	max-width: 100%;
	text-align:center;
	table-layout: fixed;
}

.ptest-quiz-table th, td{
	border: 1px solid black;
    overflow: hidden; 
	word-wrap: break-word;
}

.ptest-quiz-answer-table{
	border: none;
	width: 100%;
	max-width: 100%;
	text-align:center;
	table-layout: fixed;
}

.ptest-modify-link{
	text-decoration: none;
}

.ptest-modify-button{
	color: rgb(0, 116, 162);
	border: none;
}

.ptest-modify-button:hover{
	cursor: pointer;
	color: rgb(46, 162, 204);
}

.ptest-modify-button:focus{
	color: rgb(18, 73, 100);
}

.ptest-delete-submit{
	color: red;
	background-color: none;
	border: none;
}

.ptest-delete-submit:hover{
	cursor: pointer;
	color: rgb(242, 87, 95);
}

.ptest-add-symbol{
	border: none;
	color: green;
}

.ptest-x-symbol{
	border: none;
	color: red;
	float: right;
}

.ptest-add-symbol:hover{
	cursor: pointer;
}

.ptest-x-symbol:hover{
	cursor: pointer;
}

.ptest-hide-extra{
	width: 200px;
	text-align:center;
	white-space: nowrap; 
    overflow: hidden; 
    text-overflow:ellipsis; 
    display: block;
}


.ptest-edit-h2{
	color: #016ABC;
}

.ptest-form-submit{
	background: rgb(92, 162, 245);
	color: #fff;
	border: 1px solid #eee;
	border-radius: 10px;
}

.ptest-form-submit:hover{
	cursor: pointer;
	background:#016ABC;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 10px;
}

.ptest-delete-item{
	background: #FF0000;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 10px;
}

.ptest-delete-item:hover{
	cursor: pointer;
	background: #F2575F;
	color #fff;
	border: 1px solid #eee;
	border-radius: 10px;
}

.ptest-results-page-edit{
	width: 100%;
	height: 40em;
}

.ptest-form-spacer{
	vertical-align: top;
	padding-top: 0.3em;
	min-width: 10%;
	max-width: 10%;
	display: inline-block;
}

.ptest-form-input-spacer{
	min-width:80%;
	max-width:80%;
}

.ptest-form-answer-spacer{
	min-width:70%;
	max-width:70%;
}

.ptest-form-answer-tags-spacer{
	min-width:40.3%;
	max-width: 40.3%;
}

.ptest-form-answer-value-spacer{
	min-width: 19.5%;
	max-width: 19.5%;
}

.ptest-answers-box{
	border: 1px solid black;
	width: 100%;
	-moz-box-sizing: border-box;
}
