.ptest-question{
	padding: 0;
	margin: 0;
}

.ptest-answer-box{
	margin-top: 5px;
	padding-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border: 1px solid rgb(200, 200, 200);
	background: rgb(230, 230, 230);
	border-radius: 10px;
}

.ptest-answers {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left:10px;
}